.footer_links {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_media {
  margin-top: var(--space-small);
  display: flex;
  flex-direction: row;
}

.social_media a {
  display: inline-block;
  padding: 10px;
}
.footer_image {
  width: 30px;
  height: 30px;
}

.copy_right {
  margin-top: var(--space-small);
  text-align: center;
}

.copy_right p {
  color: rgb(243, 223, 112);
  font-size: 14px;
}
