.package_detailitem {
  display: flex;
  margin: 20px;
  flex-direction: column;
  font-size: 18px;
  color: var(--color-primary);
}
.sender {
  font-weight: 800;
}

.package_detailitem .status_item {
  display: flex;
}
.notes {
  background-color: var(--color-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 5px;
  color: var(--color-background);
  letter-spacing: 0.6px;
}

@media screen and (max-width: 650px) {
  .package_detailitem {
    margin: 0;
  }
}
