.package_page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 80vh;
}
.package_page .heading {
  font-size: 24px;
  color: #777;
  text-align: left;
}

.package_page .heading_info {
  font-size: 18px;
  color: #777;
}
.package_page .package_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
