.package_detailpage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  border: 2px solid green;
}

.package_card {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  background-color: rgb(236, 236, 212);
}

.back_arrow {
  display: flex;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: oblique;
}

.back_arrow .arrow {
  padding-right: 5px;
}
